body {
    margin: 0;
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    position: relative;
}

#right-panel {
    margin: 0;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    min-width: 500px;
    min-height: 600px;
}

.color-overlay {
    opacity: 0.25;
    position: absolute;
}

#center-view {
    padding: 0;
    height: 100%;
    color: white;
    font-family: sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    flex-grow: 1;
    z-index: 1;
}

#resume {
    display: flex;
}

.resume-title {
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}

.project-title:hover {
    color: rgb(208, 207, 140);
}

.card {
    display: flex; /* establish flex container */
    flex-direction: row; /* make main-axis vertical */
    justify-content: center; /* align items vertically, in this case */
    align-items: center; /* align items horizontally, in this case */
    height: 500px;
    width: 300px;
}

.card i {
    padding-left: 25px;
}

/*
  #center-view #name {
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 2s steps(40, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 400px }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }
*/

img {
    filter: brightness(100%) !important;
}

#name {
    margin: 0;
    margin-top: 0.5em;
    padding: 0;
    display: inline-block;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

#profession {
    margin: 0;
    margin-top: 0.35em;
    font-size: 1.6em;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}
