main {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    position: relative;
}

.resume-title {
    margin-left: auto;
    margin-right: auto;
    font-size: 2.75em;
    padding: 0em 0.75em;
    padding-top: 50px;
}

.project-title:hover {
    color: rgb(208, 207, 140);
}

.card {
    text-align: start;
    height: 100vh;
    max-width: 700px;
    margin-top: 5%;
    font-size: large;
    font-family: lato;
}

.card i {
    padding-left: 25px;
}

img {
    filter: brightness(90%) !important;
    max-height: 100%;
}

#adi-face {
    max-width: 100%;
    height: auto;
    border: 1.25vw solid rgba(113, 113, 113, 0.462);
    box-sizing: border-box;
}

@media screen and (max-width: 500px) {
    .resume-title {
        font-size: 2em;
    }
}