main {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    position: relative;
}

#resume {
    display: flex;
}

.resume-title {
    margin-left: auto;
    margin-right: auto;
    font-size: 2.75em;
}

.project-title:hover {
    color: rgb(208, 207, 140);
}

.card {
    text-align: start;
    height: 100vh;
    width: 700px;
    margin-top: 5%;
    font-size: large;
    font-family: lato;
}

.card i {
    padding-left: 25px;
}

/*
  #center-view #name {
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 2s steps(40, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 400px }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }
*/

img {
    filter: brightness(90%) !important;
}

#adi-face {
    max-height: 500px;
    max-width: 700px;
    border: 20px solid rgba(113, 113, 113, 0.462);
    box-sizing: border-box;
}
