main {
    display: flex;
    position: relative;
    flex-grow: 1;
}

.position {
    margin-bottom: 0.75em;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
    align-content: center;
    z-index: 1;
}

.current-page {
    background-color: rgb(197, 117, 12);
}

.last-position {
    flex-grow: 1;
}

.credits {
    display: none;
    height: 30px;
    width: 30px;
    background-color: rgb(209, 143, 56);
    border-radius: 10%;
    text-align: center;
    color: white;
    font-size: 1.5em;
    transform: rotate(-90deg);
}

.credits:hover {
    cursor: pointer;
    background-color: rgb(240, 188, 120);;
}

a {
    text-decoration: none;
}
