main {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    position: relative;
}

#resume {
    display: flex;
    width: 100%;
}

.resume-title {
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    pointer-events: none;
    width: 100%;
}

.resume-title:hover {
    color: rgb(208, 207, 140);
}

.card {
    border-radius: 10px;
    max-height: 653px;
    height: 100vw;
    position: relative;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    pointer-events: auto;
}

.resume-card {
    border-radius: 100px;
    inset: 1px;
    position: absolute;
    font-size: 20pt;
    color: white;

    transition-property: border-radius;
    transition-duration: 0.35s;
}

.resume-card:hover {
    cursor: pointer;
    border-radius: 10px;

    transition-duration: 0.35s;
}

.card:hover::before {
    opacity: 1;
}

.card:before {
    border-radius: inherit;
    content: "";
    inset: 0px;
    opacity: 0;
    position: absolute;
    z-index: 0;
}

/*
  #center-view #name {
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 2s steps(40, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 400px }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }
*/

img {
    filter: brightness(100%) !important;
}

#name {
    margin: 0;
    margin-top: 0.5em;
    padding: 0;
    display: inline-block;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

#profession {
    margin: 0;
    margin-top: 0.35em;
    font-size: 1.6em;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}
