body {
    margin: 0;
    height: 100vh;
    background-repeat:no-repeat;
    background-attachment: fixed;
    color: white;   
}

#right-panel {
    margin: 0;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    min-width: 500px;
    min-height: 600px;
}

.color-overlay {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: #00064B;
    opacity: 0.2;
    position: fixed;
}

#center-view {
    padding: 0;
    height: 100%;
    overflow: auto;
    color: white;
    font-family: sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    flex-grow: 1;
    z-index: 1;
}

.topnav {
    overflow: hidden;
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 7.5%;
}

#socials {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    transition: color background-color;
    transition-duration: 0.3s;
}

.topnav a:hover {
    background-color: rgb(232, 232, 232);
    color: black;
    transition:  color background-color;
    transition-duration: 0.3s;
}

.topnav a.active {
    border-bottom: 3px solid rgb(208, 207, 140);
}

.topnav-right {
    float: right;
    padding-right: 7.5%;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}

#social {
    float: left;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 30%;
}

.social-link {
    height: 30px;
    width: 25px;
    font-size: 1.75em !important;
    padding: 9px 16px !important;
}

#contact-email {
    height: 48px;
    width: 40px;
    padding: 0px 6px 0px 11px !important;
    font-size: 2.1em !important;
    display: flex;
}

#menu-bar {
    padding-bottom: 6%;
    padding-right: 10%;
    padding-left: 10%;
    height: 200px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    display: block;
    width: 500px;
}

img {
    max-width:100%;
    max-height:100%;
    height: 100vh;
    border-radius: inherit;
    filter: brightness(90%)
}

li {
    float: right;
    display: block;
    padding: 8px;
    padding-top: 3%;
    height: 80px;
    width: 80px;
}